---
import { CalendarClockIcon, CircleUserIcon, CommandIcon, LocateFixedIcon } from "lucide-react";
import ArgumentCard from "./ArgumentCard.astro";
import { Badge } from "./ui/badge";
import { Button } from "./ui/button";
---

<div class="bg-neutral-950 flex flex-col justify-center items-center gap-10 md:gap-20 px-4 md:px-16 py-16 md:py-32 rounded-t-[40px]">
  <div class="flex flex-col gap-4 justify-center items-center max-w-xl">
    <Badge>Pourquoi choisir Infinite Lab ?</Badge>
    <h2 class="text-center font-display text-3xl md:text-5xl font-medium bg-gradient-to-r text-transparent from-[#BDB0F0] via-white to-[#AE5DC7] bg-clip-text">Un partenaire technique, pas juste un prestataire</h2>
    <p class="text-base md:text-lg text-center text-white/70 font-medium max-w-lg">
      Contrairement à une agence impersonnelle ou un freelance
      difficile à suivre, Infinite Lab vous propose :
    </p>
  </div>
  <div class="flex flex-col md:flex-row md:flex-wrap lg:flex-nowrap gap-6 md:gap-8">
    <ArgumentCard text="Un interlocuteur unique, à l'écoute et disponible">
      <div class="relative p-4 md:p-6 bg-black w-fit rounded-2xl stroke-argument-icon">
        <CircleUserIcon size={16} className="md:w-5 md:h-5 text-white" />
      </div>
    </ArgumentCard>
    <ArgumentCard text="Une approche sur-mesure, adaptée à vos enjeux réels">
      <div class="relative p-4 md:p-6 bg-black w-fit rounded-2xl stroke-argument-icon">
        <LocateFixedIcon size={16} className="md:w-5 md:h-5 text-white" />
      </div>
    </ArgumentCard>
    <ArgumentCard text="Un accompagnement complet : design, dev, SEO, hébergement">
      <div class="relative p-4 md:p-6 bg-black w-fit rounded-2xl stroke-argument-icon">
        <CommandIcon size={16} className="md:w-5 md:h-5 text-white" />
      </div>
    </ArgumentCard>
    <ArgumentCard text="Des résultats concrets, dans les délais">
      <div class="relative p-4 md:p-6 bg-black w-fit rounded-2xl stroke-argument-icon">
        <CalendarClockIcon size={16} className="md:w-5 md:h-5 text-white" />
      </div>
    </ArgumentCard>
  </div>
  <Button class="w-full md:w-auto">Découvrir notre méthode</Button>
</div>