---
import { Button } from "./ui/button";
---

<div class="absolute bottom-0 absolute bottom-0 w-full px-4 md:px-16">
  <div class="flex flex-col md:flex-row justify-between items-center border-t border-white/20 py-6 md:py-8 gap-4 md:gap-0">
    <p class="text-white text-sm text-center md:text-left">© 2025 Infinite Lab. Tous droits réservés.</p>
    <div class="flex flex-col md:flex-row gap-4 md:gap-6">
      <Button variant="link">
        Politique de confidentialité
      </Button>
      <Button variant="link">
        Mentions légales
      </Button>
    </div>
  </div>
</div>