---
import { Button } from "./ui/button";
---

<div class="absolute bottom-0 w-full px-16">
  <div class="flex justify-between items-center border-t border-white/20 py-8">
    <p class="text-white text-sm">© 2025 Infinite Lab. Tous droits réservés.</p>
    <div class="flex gap-6">
      <Button variant="link">
        Politique de confidentialité
      </Button>
      <Button variant="link">
        Mentions légales
      </Button>
    </div>
  </div>
</div>