---
import hero from "../assets/hero.png";
import Navbar from "./Navbar.astro";
---

<div class="">
  <img class="fixed top-0 left-0 w-full h-full -z-10" src={hero.src} alt="" fetchpriority="high" />
  <div class="h-full justify-center">
    <Navbar />
  </div>
</div>