---
import { Badge } from "./ui/badge";
import { Button } from "./ui/button";
---

<div class="p-8 bg-neutral-900">
  <Button>Je lance mon projet</Button>
  <Button variant='secondary'>Je lance mon projet</Button>
  <Badge>Déjà +10 projets menés avec succés</Badge>
</div>