---
import logo from "../assets/logo.png";
import { Button } from "./ui/button";
---

<div class="w-fit sticky top-8 z-30 flex items-center justify-center bg-navbar stroke-navbar p-1.5 pl-4 gap-14 mt-4 mx-auto rounded-2xl">
  <img class="h-6" src={logo.src} alt="" fetchpriority="high" />
  <div>
    <Button variant="link">Expertises</Button>
    <Button variant="link">Réalisations</Button>
    <Button variant="link">À propos</Button>
    <Button variant="link">FAQ</Button>
    <Button variant="link">Contact</Button>
  </div>
  <Button>Je lance mon projet</Button>
</div>