---
import Airrental from "../assets/air-rental.png";
import Reveal from "../assets/reveal.png";
import Tatoo from "../assets/tatoo-formation.png";
import Project from "./Project.astro";
import { Badge } from "./ui/badge";
import { Button } from "./ui/button";
---

<div class="bg-neutral-950 py-32 px-16 flex flex-col justify-center items-center gap-20">
  <div class="flex flex-col gap-4 justify-center items-center max-w-3xl">
    <Badge>Projets réalisés</Badge>
    <h2 class="text-center font-display text-5xl font-medium bg-gradient-to-r text-transparent from-[#BDB0F0] via-white to-[#AE5DC7] bg-clip-text">Ce que nous avons déjà accompli pour nos clients</h2>
    <p class="text-lg text-white/70 font-normal">Des projets concrets, sur mesure, avec des résultats à la clé :</p>
  </div>
  <Project
    title="Tatoo Formation"
    description="Réseau social pour adultes, architecture DDD, collaboration avec Figue.io"
    stack={["Next.JS", "NestJS","TailwindCSS", "Linear"]}
    image={Tatoo}
  />
  <Project
    title="Reveal"
    description="Réseau social pour adultes, architecture DDD, collaboration avec Figue.io"
    stack={["Next.JS", "NestJS","TailwindCSS", "Linear"]}
    image={Reveal}
  />
  <Project
    title="Dashboard Keeper"
    description="Gestion des réservations, statistiques, utilisateurs pour Air Rental, app mobile de gestion pour Keepers"
    stack={["React Native", "React", "InertiaJS", "AdonisJS","TailwindCSS", "Linear"]}
    image={Airrental}
  />
  <Button variant="secondary">Découvrir les autres projets</Button>
</div>