---
const { text, statText } = Astro.props;
---

<div class="relative flex flex-col gap-10 px-8 py-16 max-w-[420px] bg-neutral-700/10 rounded-lg bg-stat-card stroke-argument-card">
  <slot />
  <p class="text-[80px] text-white font-display font-normal">{statText}</p>
  <p class="text-xl text-white font-semibold">{text}</p>
</div>