---
import { Badge } from "./ui/badge";
---

<div class="bg-neutral-950 py-32 px-16 flex flex-col justify-center items-center gap-20">
  <div class="flex flex-col gap-4 justify-center items-center max-w-3xl">
    <Badge>Témoignages</Badge>
    <h2 class="text-center font-display text-5xl font-medium bg-gradient-to-r text-transparent from-[#BDB0F0] via-white to-[#AE5DC7] bg-clip-text">Ce que disent nos clients</h2>
    <p class="text-lg text-white/70 font-normal">Des résultats, mais surtout des relations humaines réussies</p>
  </div>
</div>